{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Articles in the {{ category }} category{% endblock %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <header class="intro-header">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        {# <h1>Articles in the {{ category }} category</h1> #}
                        <div style="height: 180px"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
